@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --TEAL: #66E2DC;
    --RED-ORANGE: #FA7453;
    --YELLOW-ORANGE: #FFB963;
    --ALMOST-WHITE: #FCFAF9;
    --DARK-BLUE: #191826;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/bg-main-mobile.png);
    background-position: 10vw -25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'IBM Plex Sans', sans-serif;;
}

.top-section {
    padding: 1.5rem;
}

.logo {
  width: 40%;
  margin-top: 1rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 3rem 0 1.5rem;
    color: var(--DARK-BLUE);
}

.body-1 {
    margin-bottom: 9rem;
    line-height: 1.5;
    color: var(--DARK-BLUE);
    letter-spacing: 0;
}

.image-section {
    background-color: var(--DARK-BLUE);
    background-image: url(assets/bg-pattern-2.svg);
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.phone-image {
    width: 55%;
    position: relative;
    top: -4.5rem;
}

.orange-section {
    background-color: var(--RED-ORANGE);
    padding: 2.5rem;
    border-radius: 10px;
}

h2 {
    color: var(--ALMOST-WHITE);
    margin: 1rem 0;
    font-size: 2rem;
}

.body-2 {
    color: var(--ALMOST-WHITE);
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.price {
    color: var(--ALMOST-WHITE);
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.price span {
    font-weight: 700;
    font-size: 4rem;
    margin-right: 1rem;
}

button {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.button-icon {
    margin-right: 0.5rem;
}

.button-icon:first-of-type {
    padding-bottom: 0.2rem;
}

.ios-button {
    background-color: var(--DARK-BLUE);
    color: var(--ALMOST-WHITE);
    transition: all 0.2s;
}

.ios-button:hover, .ios-button:focus {
    background-color: var(--TEAL);
    cursor: pointer;
}

.android-button {
    background-color: var(--ALMOST-WHITE);
    transition: all 0.2s;
}

.android-button:hover, .android-button:focus {
    background-color: var(--YELLOW-ORANGE);
    cursor: pointer;
}

footer {
    background-color: var(--ALMOST-WHITE);
    padding: 1.5rem;
}

.logo:last-of-type {
    margin: 1rem 0 2rem;
}

footer p {
    line-height: 1.5;
}

footer .icon {
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    color: var(--DARK-BLUE);
    margin: 0 0.5rem;
    transition: all 0.1s linear;
}

.icon:hover {
    /* filter: invert(0.3) sepia(1) saturate(15.5) hue-rotate(0deg) brightness(1); */
    filter: invert(0.3) sepia(1) saturate(12.8) hue-rotate(0deg) brightness(1);
}

.footer-text {
    margin-bottom: 3rem;
}

.social img {
    margin: 0 0.5rem 3rem;
}